@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  .svgWaveShadow {
    top: 52%;
  }
  h2 {
    font-size: 2rem;
  }
  body {
    flex-direction: column;
  }
  .content {
    width: 100%;
    height: 40%;
    flex: 0;
  }
  .iceCreamContainer {
    height: 60%;
  }
  .gameContainer {
    flex: 1;
  }
}
